body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlinks ul {
  display: flex;
}

.navlinks ul li {
  list-style: none;
  justify-content: flex-end;
}

.navlinks ul li a {
  text-decoration: none;
  color: black;
  padding: 2em;
}

/* hero intro */
.hero-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 12em;
}

.hero-intro h1 {
  font-size: 2.5em;
}
.hero-intro p {
  padding-top: 1em;
}

.btn {
  border: none;
}

.my-pic {
  position: relative;
}

/* skill section */
#skills-container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 200px;
}

.about-me {
  width: 50%;
  text-align: center;
  line-height: 2em;
  padding-right: 30px;
}

.skill-bar {
  width: 50%;
  padding-left: 180px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.html {
  width: 70%;
  background-color: whitesmoke;
}
.css {
  width: 50%;
  background-color: whitesmoke;
}
.js {
  width: 10%;
  background-color: whitesmoke;
}

/* Projects */
#projects {
  padding-top: 200px;
}
h2 {
  text-align: center;
}

/* contact me */

form {
  max-width: 420px;
  margin: 50px auto;
  padding-top: 200px;
}

.feedback-input {
  font-weight: 100;
  font-size: 15px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #e7e7e7;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #e7e7e7;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: #e7e7e7;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: black;
}
/* footer */
.footer-section {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
