body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlinks ul {
  display: flex;
}

.navlinks ul li {
  list-style: none;
  justify-content: flex-end;
}

.navlinks ul li a {
  text-decoration: none;
  color: black;
  padding: 2em;
}

/* hero intro */
.hero-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 12em;
}

.hero-intro h1 {
  font-size: 2.5em;
}
.hero-intro p {
  padding-top: 1em;
}

.btn {
  display: inline-block;
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 16px 30px;
  margin: 1.5em 0;
  border-radius: 1.5em;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: black;
}

.btn:hover {
  background-color: whitesmoke;
  box-shadow: 0 12px 12px 0 rgba(218, 215, 215, 0.24), 0 5px 5px 0;
}

.my-pic {
  position: relative;
}

/* skill section */
.skills-container {
  display: flex;
  flex-direction: row-reverse;
}

.about-me {
  width: 50%;
  text-align: center;
  line-height: 2em;
  padding-right: 30px;
}

.skill-bar {
  width: 50%;
  padding-left: 180px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.html {
  width: 70%;
  background-color: whitesmoke;
}
.css {
  width: 50%;
  background-color: whitesmoke;
}
.js {
  width: 10%;
  background-color: whitesmoke;
}

/* Projects */
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 900px;
}

.projects {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px gainsboro;
  line-height: 1.4;
  word-spacing: 100vw;
}

/* footer */
.footer-section {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
